@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    background-color: #1f2937;
    padding: 1em 13em;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.header-left {
    font-size: 24px;
    color: #f9faf8;
}

ul, a {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    list-style-type: none;
}

/* Welcome */

.welcome {
    display: flex;
    justify-content: center;
    padding: 7em 0; 
    align-items: center;
    background-color: #1f2937;
}

.welcome .right {
    flex-shrink: 0;
    width: 50%;
}

.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

.welcome button {
    border: none;
}

.img {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
}


/* Main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    padding: 0 13em;
}

.main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.squares {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

/* Quote */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 7em 13em;
    color: #1f2937;
}

.quote em {
    font-size: 36px;
    font-style: light italic;
}

.quote p {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 800;
}

/* Call to action */

.call-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.box {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.box button {
    border-color: #f9faf8;
    margin: 10px 4px;
}

.container button {
    border: 2px solid #FFF;
}

strong {
    font-size: 24px;
    color: #FFF;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 2em;
    color: #f9faf8;
}